<h1>ブログ一覧</h1>



<table class = "table">
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>投稿者</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= blog.user.name %>さん</td>
    <td><%= link_to '詳細', blog_path(blog.id) %></td>
    <td><%= link_to '編集', edit_blog_path(blog.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しくブログを投稿する', new_blog_path %>